.carousel-indicators {
  right: 0;
  left: 90%;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 10px;

  li {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    border: 2px solid white;
    background: none;

    &.active {
      background: white;
    }
  }
}
