.songs {
  .song {
    color: white;
    cursor: pointer;

    &:hover {
      background: $gradient-1;
    }
  }

  .current-song-active {
    background: $gradient-1;
  }
}

.highlight {
  margin-right: 40px;

  &:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .highlight {
    margin: 0 !important;

    &:last-child {
      margin-top: 40px !important;
    }
  }
}
