// vendors
@import "./styles/bootstrap.scss";

// globals
@import "./styles/globals.scss";

//fonts
@import "./styles/custom-fonts.css";

// headings
@import "./styles/heading-2.scss";
@import "./styles/heading-3.scss";
@import "./styles/heading-4.scss";
@import "./styles/heading-5.scss";

// partials
@import "./styles/hero-section.scss";
@import "./styles/highlights-section.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
